{
    "extends": "airbnb-base",
    "globals": {
        "describe": true,
        "it": true
    },
    "rules": {
        "semi": [
            "error",
            "never"
        ],
        "quotes": [
            "error",
            "double"
        ],
        "no-param-reassign": "off"
    }
}